<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MVC Tech Blog</title>
  <link rel="stylesheet" href="/public/styles/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1 class="mainwriting">TopTopic</h1>
              <nav class="navbar mt-2">
            {{#if loggedIn}}
            <a href="/">homepage</a>
            <a href="/dashboard">dashboard</a>
            <a href="/dashboard/create/">create post</a>
            <button id="logout" >logout</button>
            {{else}}
            <a href="/">homepage</a>
            <a href="/login">login</a>
            {{/if}}
        </nav>
        </header>
    </div>
</body>