<div>
    <h2>login:</h2><hr>
    <form class="login">
<div>
    <label for="emaillogin"></label>
    <input type="text" id="emaillogin"/>
</div>

<div>
    <label for="passlogin"></label>
    <input type="password" id="passlogin"/>
</div>

<div>
    <button type="submit" class="logSubmit">Login</button>
    <h4>Don't Have an account?</h4>
    <a href="/signup"><button type="button" class="log2sig">Sign up Here</button></a>
</div>

    </form>
</div>

<script src="/javascript/login.js"></script>